<a href="https://colab.research.google.com/github/madhubanidas/Madhu/blob/main/PYSPARK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

# **Starting spark Session**

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [5]:
spark = (SparkSession.builder
  .appName("Practice")
  .getOrCreate())

In [6]:
spark

# Pandas

In [46]:
import pandas as pd
pd.read_csv('test1.csv')

    Name  Age  Experience
0  Krish   31           7
1  Madhu   23           2
2  Jyoti   27           5

In [45]:
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

# **Reading the Dataset**

In [35]:
df_pyspark=spark.read.csv('test1.csv')

In [36]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [37]:
df_pyspark.show()

+-----+---+----------+
|  _c0|_c1|       _c2|
+-----+---+----------+
| Name|Age|Experience|
|Krish| 31|         7|
|Madhu| 23|         2|
|Jyoti| 27|         5|
+-----+---+----------+

In [47]:
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)
##inferSchema=true will shows numbers as integers(or other datatypes) or everything will be considered as strings

In [48]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|         7|
|Madhu| 23|         2|
|Jyoti| 27|         5|
+-----+---+----------+

In [51]:
##alternative easier method
spark.read.csv('test1.csv',header=True,inferSchema=True).show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|         7|
|Madhu| 23|         2|
|Jyoti| 27|         5|
+-----+---+----------+

# PySpark **Dataframe**

In [49]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

# **Checking the Datatypes of the Column(Schema)**

In [50]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

# **Selecting Columns and Indexing**

In [52]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [42]:
df_pyspark.head(2)

[Row(Name='Krish', Age='31', Experience='7'),
 Row(Name='Madhu', Age='23', Experience='2')]

In [43]:
df_pyspark.tail(2)

[Row(Name='Madhu', Age='23', Experience='2'),
 Row(Name='Jyoti', Age='27', Experience='5')]

In [53]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [54]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|Krish|
|Madhu|
|Jyoti|
+-----+

In [55]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [57]:
df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [58]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Krish|         7|
|Madhu|         2|
|Jyoti|         5|
+-----+----------+

In [59]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

# **Check Describe Option similar to Pandas**

In [60]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [62]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|27.0|4.666666666666667|
| stddev| NULL| 4.0|2.516611478423583|
|    min|Jyoti|  23|                2|
|    max|Madhu|  31|                7|
+-------+-----+----+-----------------+

# **Adding Columns**

In [65]:
df_pyspark=df_pyspark.withColumn('Experience after 2 year',df_pyspark['Experience']+2)

In [67]:
df_pyspark.show()

+-----+---+----------+-----------------------+
| Name|Age|Experience|Experience after 2 year|
+-----+---+----------+-----------------------+
|Krish| 31|         7|                      9|
|Madhu| 23|         2|                      4|
|Jyoti| 27|         5|                      7|
+-----+---+----------+-----------------------+

# **Dropping Columns**

In [71]:
df_pyspark=df_pyspark.drop('Experience after 2 year')

In [72]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|         7|
|Madhu| 23|         2|
|Jyoti| 27|         5|
+-----+---+----------+

# **Rename Columns**

In [73]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|         7|
|   Madhu| 23|         2|
|   Jyoti| 27|         5|
+--------+---+----------+

# **Dropping Rows**

In [74]:
df_pyspark2=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [75]:
df_pyspark2.show()

+-----+----+----------+-------+
| Name| Age|Experience| Salary|
+-----+----+----------+-------+
|Krish|  31|         7|2000000|
|Madhu|  23|         2| 900000|
|Jyoti|  27|         5|1500000|
|Harsh|  26|         4| 900000|
|Rathi|  33|         9|2100000|
| Mala|NULL|      NULL|5000000|
| NULL|  34|        10|2500000|
| NULL|  36|      NULL|   NULL|
+-----+----+----------+-------+

In [78]:
df_pyspark2.na.drop().show() #all colums with null value dropped

+-----+---+----------+-------+
| Name|Age|Experience| Salary|
+-----+---+----------+-------+
|Krish| 31|         7|2000000|
|Madhu| 23|         2| 900000|
|Jyoti| 27|         5|1500000|
|Harsh| 26|         4| 900000|
|Rathi| 33|         9|2100000|
+-----+---+----------+-------+

# **Various Parameter In Dropping Functionalities**

In [79]:
##any=how
df_pyspark2.na.drop(how='all').show() #all-will drop only those columns where all values in a row are null

+-----+----+----------+-------+
| Name| Age|Experience| Salary|
+-----+----+----------+-------+
|Krish|  31|         7|2000000|
|Madhu|  23|         2| 900000|
|Jyoti|  27|         5|1500000|
|Harsh|  26|         4| 900000|
|Rathi|  33|         9|2100000|
| Mala|NULL|      NULL|5000000|
| NULL|  34|        10|2500000|
| NULL|  36|      NULL|   NULL|
+-----+----+----------+-------+

In [84]:
df_pyspark2.na.drop(how='any').show() #all colums with null value dropped same as original

+-----+---+----------+-------+
| Name|Age|Experience| Salary|
+-----+---+----------+-------+
|Krish| 31|         7|2000000|
|Madhu| 23|         2| 900000|
|Jyoti| 27|         5|1500000|
|Harsh| 26|         4| 900000|
|Rathi| 33|         9|2100000|
+-----+---+----------+-------+

In [82]:
##threshold
df_pyspark2.na.drop(how='any',thresh=2).show()
##atleast 2 non null values should be present

+-----+----+----------+-------+
| Name| Age|Experience| Salary|
+-----+----+----------+-------+
|Krish|  31|         7|2000000|
|Madhu|  23|         2| 900000|
|Jyoti|  27|         5|1500000|
|Harsh|  26|         4| 900000|
|Rathi|  33|         9|2100000|
| Mala|NULL|      NULL|5000000|
| NULL|  34|        10|2500000|
+-----+----+----------+-------+

In [85]:
df_pyspark2.na.drop(thresh=3).show()

+-----+---+----------+-------+
| Name|Age|Experience| Salary|
+-----+---+----------+-------+
|Krish| 31|         7|2000000|
|Madhu| 23|         2| 900000|
|Jyoti| 27|         5|1500000|
|Harsh| 26|         4| 900000|
|Rathi| 33|         9|2100000|
| NULL| 34|        10|2500000|
+-----+---+----------+-------+

In [86]:
##Subset
df_pyspark2.na.drop(subset=['Experience']).show()
##only columns with null values in experience dropped

+-----+---+----------+-------+
| Name|Age|Experience| Salary|
+-----+---+----------+-------+
|Krish| 31|         7|2000000|
|Madhu| 23|         2| 900000|
|Jyoti| 27|         5|1500000|
|Harsh| 26|         4| 900000|
|Rathi| 33|         9|2100000|
| NULL| 34|        10|2500000|
+-----+---+----------+-------+

# **Filling the Missing value**

In [96]:
df_pyspark2.na.fill('Missing Values').show() #string can fill in string

+--------------+----+----------+-------+
|          Name| Age|Experience| Salary|
+--------------+----+----------+-------+
|         Krish|  31|         7|2000000|
|         Madhu|  23|         2| 900000|
|         Jyoti|  27|         5|1500000|
|         Harsh|  26|         4| 900000|
|         Rathi|  33|         9|2100000|
|          Mala|NULL|      NULL|5000000|
|Missing Values|  34|        10|2500000|
|Missing Values|  36|      NULL|   NULL|
+--------------+----+----------+-------+

In [94]:
df_pyspark2.na.fill(1,'Experience').show() #only integers can fill in integer

+-----+----+----------+-------+
| Name| Age|Experience| Salary|
+-----+----+----------+-------+
|Krish|  31|         7|2000000|
|Madhu|  23|         2| 900000|
|Jyoti|  27|         5|1500000|
|Harsh|  26|         4| 900000|
|Rathi|  33|         9|2100000|
| Mala|NULL|         1|5000000|
| NULL|  34|        10|2500000|
| NULL|  36|         1|   NULL|
+-----+----+----------+-------+

In [98]:
df_pyspark2.na.fill(30,['Experience','age']).show()

+-----+---+----------+-------+
| Name|Age|Experience| Salary|
+-----+---+----------+-------+
|Krish| 31|         7|2000000|
|Madhu| 23|         2| 900000|
|Jyoti| 27|         5|1500000|
|Harsh| 26|         4| 900000|
|Rathi| 33|         9|2100000|
| Mala| 30|        30|5000000|
| NULL| 34|        10|2500000|
| NULL| 36|        30|   NULL|
+-----+---+----------+-------+

# **Handling Missing values by Mean,Median and Mode**

In [108]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [109]:
###Add imputation cols to df
imputer.fit(df_pyspark2).transform(df_pyspark2).show()

+-----+----+----------+-------+-----------+------------------+--------------+
| Name| Age|Experience| Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+----+----------+-------+-----------+------------------+--------------+
|Krish|  31|         7|2000000|         31|                 7|       2000000|
|Madhu|  23|         2| 900000|         23|                 2|        900000|
|Jyoti|  27|         5|1500000|         27|                 5|       1500000|
|Harsh|  26|         4| 900000|         26|                 4|        900000|
|Rathi|  33|         9|2100000|         33|                 9|       2100000|
| Mala|NULL|      NULL|5000000|         30|                 6|       5000000|
| NULL|  34|        10|2500000|         34|                10|       2500000|
| NULL|  36|      NULL|   NULL|         36|                 6|       2128571|
+-----+----+----------+-------+-----------+------------------+--------------+

In [111]:

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [112]:
###Add imputation cols to df
imputer.fit(df_pyspark2).transform(df_pyspark2).show()

+-----+----+----------+-------+-----------+------------------+--------------+
| Name| Age|Experience| Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+----+----------+-------+-----------+------------------+--------------+
|Krish|  31|         7|2000000|         31|                 7|       2000000|
|Madhu|  23|         2| 900000|         23|                 2|        900000|
|Jyoti|  27|         5|1500000|         27|                 5|       1500000|
|Harsh|  26|         4| 900000|         26|                 4|        900000|
|Rathi|  33|         9|2100000|         33|                 9|       2100000|
| Mala|NULL|      NULL|5000000|         31|                 5|       5000000|
| NULL|  34|        10|2500000|         34|                10|       2500000|
| NULL|  36|      NULL|   NULL|         36|                 5|       2000000|
+-----+----+----------+-------+-----------+------------------+--------------+

# **Filter Operation**

In [115]:
df_pyspark3=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [116]:
df_pyspark3.show()

+-----+---+----------+-------+
| Name|Age|Experience| Salary|
+-----+---+----------+-------+
|Krish| 31|         7|2000000|
|Madhu| 23|         2| 900000|
|Jyoti| 27|         5|1500000|
|Harsh| 26|         4| 900000|
|Rathi| 33|         9|2100000|
+-----+---+----------+-------+

In [119]:
##Salary of people less than or equal to 1500000
df_pyspark3.filter('Salary<=1500000').show()

+-----+---+----------+-------+
| Name|Age|Experience| Salary|
+-----+---+----------+-------+
|Madhu| 23|         2| 900000|
|Jyoti| 27|         5|1500000|
|Harsh| 26|         4| 900000|
+-----+---+----------+-------+

In [121]:
df_pyspark3.filter('Salary<=1500000').select(['Name','Age']).show()##only shows name and age who fit the criteria

+-----+---+
| Name|Age|
+-----+---+
|Madhu| 23|
|Jyoti| 27|
|Harsh| 26|
+-----+---+

# **& | ==**

# **~**